@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$primary-color: #212121;
$first-color: #ff8c05;
$second-color: #ffffff;
// $third-color: #262626;
$fourth-color: #ff3b7c;
$fifth-color: #4070f4;
$col: #b3ff98;

body {
  background-color: $primary-color;
  color: $second-color;
  font-family: 'Poppins', sans-serif;
}
.main-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: $primary-color;
  box-shadow: 0px -7px 10px $second-color;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  z-index: 12122;
  &--scrolled {
    height: 40px;
  }
  h4 {
    color: $first-color;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
  }
}
.active {
  color: $first-color !important;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  li {
    list-style: none;
  }
  a {
    color: $second-color;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      color: $fourth-color;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
  div {
    width: 25px;
    height: 3px;
    background-color: $second-color;
    margin: 5px;
    transition: all 0.3s ease;
    transform-origin: 1px;
    .line1 {
      transform: rotate(0);
    }
    .line2 {
      transform: translateX(0);
    }
    .line3 {
      transform: rotate(0);
    }
  }
}
.toggle .line1 {
  transform: rotate(45deg);
}
.toggle .line2 {
  transform: translateX(100%);
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 878px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    // transition: transform 0.5s ease-in;
    border: 1px solid $second-color;
    z-index: 123123;
    li {
      opacity: 0;
    }
  }
  .burger {
    display: block;
  }

  #landing {
    .landing-text {
      text-align: center;
    }
    .border-animate {
      display: none;
    }
    .landing-social {
      margin: auto;
    }
  }
}

.nav-active {
  transform: translate(0%);
}
main {
  width: 80%;
  margin: auto;
  overflow-x: hidden;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(images/pattern1.png) no-repeat 50% 50%;
  height: 58vh;
  margin-top: 18vh;
  min-height: 480px;
  position: relative;

  .landing-text-contact {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }
  .border-animate {
    position: relative;
    width: 30%;
    height: 60%;
  }
  img {
    border: 3px solid #acb008;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    z-index: 2;
  }
}

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 65vh;
  margin-top: 50vh;
  position: relative;
  .about-background {
    position: absolute;
    height: 130%;
    width: 100%;
    background: url(images/pattern1.png) no-repeat 50% 50%;
    z-index: -24;
  }
  .about-tech {
    display: flex;
    flex-direction: column;
    flex: 0.4;

    h2 {
      text-align: center;
      position: relative;
      margin-bottom: 50px;
      font-size: 35px;
      margin-top: 0;
      color: $fifth-color;
    }
    h2::after {
      content: '';
      border: 1px solid $fourth-color;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
    }

    .tech-categories {
      display: flex;
    }
    .tech-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .about-title {
    font-size: 2em;
    color: $first-color;
  }
  .about-text {
    flex: 0.4;
    p {
      font-size: 19px;
      line-height: normal;
      font-weight: lighter;
      letter-spacing: 2px;
    }
  }
}

// Intro text animation
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 2.7em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
// Front end developer animation
.ml5 {
  position: relative;
  font-weight: bold;
  font-size: 3em;
  color: $second-color;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
.landing-social {
  display: flex;
  justify-content: space-between;
  width: 40%;
  i {
    font-size: 1.5em;
    color: $first-color;
    transition: transform 0.2s ease-in;
    &:hover {
      color: $fourth-color;
      transform: translateY(-5px);
    }
  }
}

.skills {
  height: 100vh;
}

.border-animate::before,
.border-animate::after {
  display: block;
  content: '';
  position: absolute;
  width: 102%;
  height: 102%;
  background: $first-color;
  border-radius: 50%;
  z-index: 1;
  animation: 3s clockwise infinite;
  max-width: 400px;
  max-height: 400px;
  left: 2%;
  background: radial-gradient(
    circle,
    rgba(165, 79, 119, 1) 51%,
    rgba(255, 140, 5, 1) 95%,
    rgba(38, 38, 38, 1) 99%
  );
}
.border-animate:after {
  background: $fourth-color;
  background: radial-gradient(
    circle,
    rgba(255, 140, 5, 1) 4%,
    rgba(165, 79, 119, 1) 85%,
    rgba(38, 38, 38, 1) 100%
  );

  animation: 2s clockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}
@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
