@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
// $primary-color: #fff;
// $first-color: #4070f4;
// $second-color: #16131b;
// $third-color: #d23170;

$primary-color: #222222;
$first-color: #E12D39;
$second-color: #fffbea;
$third-color: #d23170;
body {
  background-color: $primary-color;
  color: $second-color;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  box-shadow: 0px -7px 10px $second-color;
  font-family: 'Poppins', sans-serif;

  h4 {
    color: $second-color;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  li {
    list-style: none;
  }
  a {
    color: $second-color;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
  }
}

.burger {
  display: none;
  cursor: pointer;
  div {
    width: 25px;
    height: 3px;
    background-color: $second-color;
    margin: 5px;
    transition: all 0.3s ease;
    transform-origin: 1px;
    .line1 {
      transform: rotate(0);
    }
    .line2 {
      transform: translateX(0);
    }
    .line3 {
      transform: rotate(0);
    }
  }
}
.toggle .line1 {
  transform: rotate(45deg);
}
.toggle .line2 {
  transform: translateX(100%);
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
    border: 1px solid $second-color;
    z-index: 123123;
    li {
      opacity: 0;
    }
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translate(0%);
}

// Intro text
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

#landing {
  display: flex;
  height: 92vh;
  align-items: center;
  justify-content: space-around;
  img {
    width: 450px;
    height: 450px;
  }
}
