@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  background-color: #222222;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  box-shadow: 0 3px 5px #3b3b3b;
  color: white;
  font-family: 'Poppins', sans-serif;

  h4 {
    color: #f7c948;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  li {
    list-style: none;
  }
  a {
    color: #f7f7f7;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }
}

.burger {
  display: none;
  cursor: pointer;
  div {
    width: 25px;
    height: 3px;
    background-color: #f7f7f7;
    margin: 5px;
    transition: all 0.3s ease;
    transform-origin: 1px;
  }
  .line1 {
    transform: rotate(0);
  }
  .line2 {
    transform: translateX(0);
  }
  .line3 {
    transform: rotate(0);
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
    li {
      opacity: 0;
    }
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translate(0%);
}

.toggle .line1 {
  transform: rotate(45deg);
}
.toggle .line2 {
  transform: translateX(100%);
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg);
}
