@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$primary-color: #212121;
$first-color: #ff8c05;
$second-color: #ffffff;
$third-color: #262626;
$fourth-color: #ff3b7c;
$fifth-color: #4070f4;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: $second-color;
  font-family: 'Poppins', sans-serif;
  text-shadow: -2px 0px 5px black;
}

.main-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: $primary-color;
  box-shadow: 0 0 6px black;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  z-index: 12122;
  .active {
    color: $first-color !important;
  }
  &--scrolled {
    height: 40px;
  }
  h4 {
    color: $first-color;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  li {
    list-style: none;
  }
  a {
    color: $second-color;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      color: $fourth-color;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
  div {
    width: 25px;
    height: 3px;
    background-color: $second-color;
    margin: 5px;
    transition: all 0.3s ease;
    transform-origin: 1px;
    .line1 {
      transform: rotate(0);
    }
    .line2 {
      transform: translateX(0);
    }
    .line3 {
      transform: rotate(0);
    }
  }
}
.toggle .line1 {
  transform: rotate(45deg);
}
.toggle .line2 {
  transform: translateX(100%);
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg);
}

main {
  width: 80%;
  margin: auto;
  overflow-x: hidden;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(images/pattern1.png) no-repeat 50% 50%;
  height: 58vh;
  margin-top: 18vh;
  min-height: 480px;
  position: relative;
  box-shadow: 0 0 15px black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;

  .landing-text-contact {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }

  img {
    border-radius: 50%;
    box-shadow: 0px 0px 18px black, 0px 0px 40px black;
    max-width: 280px;
    max-height: 280px;
    width: 100%;
    height: 100%;
  }
  #landing-anchor {
    position: absolute;
    top: -200px;
  }
}

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 65vh;
  margin-top: 50vh;
  position: relative;
  .about-background {
    position: absolute;
    height: 140%;
    width: 100%;
    background: url(images/pattern1.png) no-repeat 50% 50%;
    z-index: -24;
    box-shadow: 0 0 15px black;
    width: 95%;
    border-radius: 15px;
  }
  .about-tech {
    display: flex;
    flex-direction: column;
    flex: 0.4;

    h2 {
      text-align: center;
      position: relative;
      margin-bottom: 50px;
      font-size: 35px;
      margin-top: 0;
      color: $fifth-color;
    }
    h2::after {
      content: '';
      border: 1px solid $fourth-color;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
    }

    .tech-categories {
      display: flex;
      justify-content: center;
    }
    .tech-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .about-text {
    flex: 0.4;
    h4 {
      font-size: 2.4em;
      color: $first-color;
      letter-spacing: 2px;
    }
    p {
      font-size: 19px;
      line-height: normal;
      font-weight: lighter;
      letter-spacing: 2px;
    }
  }
  #about-anchor {
    position: absolute;
    top: -200px;
  }
}

// Intro text animation
.ml6 {
  position: relative;
  font-weight: 400;
  font-size: 2.7em;
  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .letter {
    display: inline-block;
    line-height: 1em;
  }
}

// Front end developer animation
.ml5 {
  position: relative;
  font-weight: bold;
  font-size: 3em;
  color: $second-color;
  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  .words {
    display: inline-block;
    opacity: 0;
  }
  .words:nth-child(3) {
    color: rgb(255, 140, 5);
  }
}

.landing-social {
  display: flex;
  justify-content: space-between;
  width: 40%;
  i {
    font-size: 1.5em;
    color: $first-color;
    transition: transform 0.2s ease-in;
    &:hover {
      color: $fourth-color;
      transform: translateY(-5px);
    }
  }
}

#projects {
  margin-top: 50vh;

  h1 {
    font-size: 2.5em;
    text-align: center;
    color: $first-color;
  }

  .project-container {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .project-background {
      position: absolute;
      height: 50%;
      width: 98%;
      background: url(images/pattern1.png) no-repeat 50% 50%;
      z-index: -24;
      box-shadow: 0 0 2px black;
    }

    .reveal {
      position: relative;
      color: #fff;
      font-size: 1.8em;
      padding: 0 10px;
      font-weight: 500;
      transform-origin: left;
      transform: scaleX(0);
      transition: 0.5s;
      transition-delay: 0.5s;
      margin-top: 0;
      margin-bottom: 8px;
      color: $second-color;
    }
    .reveal:nth-child(2) {
      font-weight: 300;
      font-size: 1em;
      letter-spacing: 2px;
      display: inline-block;
      color: $fourth-color;
    }
    .active {
      transform: scaleX(1);
      transition-delay: 0s;
    }
    .reveal::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $second-color;
      transform-origin: right;
      transition: 0.5s;
      transition-delay: 0;
    }
    .reveal:nth-child(2)::before {
      background: $fourth-color;
    }
    .active:before {
      transform: scaleX(0);
      transition-delay: 0.5s;
    }
    .project-info {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
      left: -100px;
      transition: 0.5s;
      margin-top: 0;
      .project-text {
        width: 50%;
        p {
          font-size: 1em;
          font-weight: lighter;
          letter-spacing: 1px;
          line-height: 25px;
          padding: 20px;
          flex: 0.5;
        }
        .pomodoro-react {
          color: $fifth-color;
          text-decoration: none;
          &:hover {
            color: $second-color;
          }
        }
      }
    }
    a {
      display: block;
      margin-left: 10px;
      margin-top: 20px;
      width: 50%;
      &:hover {
        opacity: 0.5;
      }
      img {
        display: block;
        width: 100%;
        max-width: 650px;
        border-radius: 10px;
        box-shadow: 0px 0px 3px $second-color;
      }
    }
    .project-active {
      left: 0;
      opacity: 1;
    }
  }
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.wrap-contact100 {
  width: 66%;
  background: url(images/pattern1.png) no-repeat 50% 50%;
  border-radius: 10px;
  padding: 50px 50px;
  position: relative;
  box-shadow: 0 0 15px black;
}

.show-wrap-contact100 {
  visibility: visible;
  opacity: 1;
}

/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact100-form-title {
  display: block;
  width: 100%;
  font-size: 30px;
  color: $first-color;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 44px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 65px;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.label-input100 {
  font-size: 15px;
  color: $second-color;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #c8c8c8;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: $fourth-color;
}

/*---------------------------------------------*/
input.input100 {
  height: 40px;
}

textarea.input100 {
  padding-top: 9px;
  padding-bottom: 13px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
}

.contact100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #ff4b5ac4;
  border-radius: 25px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  transition: all 0.2s ease-in;
}

.contact100-form-btn:hover {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.contact100-form-btn:hover i {
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
  #landing {
    img {
      display: none;
    }
  }
}
@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 82px 80px 33px 80px;
  }
}

@media screen and (max-width: 878px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    border: 1px solid $first-color;
    z-index: 123123;
    height: 70vh;
    top: 3vh;
    right: 1px;
    background: url(images/pattern1.png) no-repeat 50% 50%;

    li {
      opacity: 0;
    }
  }
  .burger {
    display: block;
  }

  #landing {
    .landing-text {
      text-align: center;
    }

    .landing-social {
      margin: auto;
    }
  }

  #about {
    flex-direction: column;
    height: 100vh !important;

    .about-text {
      width: 80%;
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
      margin-bottom: 15%;
      h4 {
        font-size: 1.4em;
        text-align: center;
        margin: 0;
      }
      p {
        font-size: 14px !important;
      }
    }

    .about-tech {
      width: 100%;
      h2 {
        font-size: 13px;
      }
    }
    .tech-icons {
      img {
        width: 24px;
        height: 24px;
      }
      h4 {
        font-size: 12px;
      }
    }
  }

  #projects {
    .project-background {
      height: 80% !important;
    }
    .project-info {
      margin-top: 10%;
      flex-direction: column;
      align-items: initial !important;
    }
    a {
      width: 90% !important;
    }
    .project-text {
      width: 90% !important;
      p {
        font-size: 1.3em !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact100-form-title {
    font-size: 25px;
  }
  .rs1-wrap-input100 {
    width: 100%;
  }
  .wrap-contact100 {
    padding: 82px 15px 33px 15px;
    width: 80%;
  }
  #projects {
    .project-text {
      p {
        font-size: 0.8em !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
  .ml6,
  .ml5 {
    font-size: 2em;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 82px 15px 33px 15px;
  }
}
.nav-active {
  transform: translate(0%);
}
