@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  background-color: #212121;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.main-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  background-color: #212121;
  -webkit-box-shadow: 0px -7px 10px #ffffff;
          box-shadow: 0px -7px 10px #ffffff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  z-index: 12122;
}

.main-nav-bar .active {
  color: #ff8c05 !important;
}

.main-nav-bar--scrolled {
  height: 40px;
}

.main-nav-bar h4 {
  color: #ff8c05;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: #ff3b7c;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
}

.burger div .line1 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.burger div .line2 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger div .line3 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.toggle .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle .line2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 878px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    border: 1px solid #ffffff;
    z-index: 123123;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  #landing .landing-text {
    text-align: center;
  }
  #landing .border-animate {
    display: none;
  }
  #landing .landing-social {
    margin: auto;
  }
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh !important;
  }
  #about .about-text {
    width: 80%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15%;
  }
  #about .about-text h4 {
    font-size: 1.4em;
    text-align: center;
    margin: 0;
  }
  #about .about-text p {
    font-size: 14px !important;
  }
  #about .about-tech {
    width: 100%;
  }
  #about .about-tech h2 {
    font-size: 13px;
  }
  #about .tech-icons img {
    width: 24px;
    height: 24px;
  }
  #about .tech-icons h4 {
    font-size: 12px;
  }
}

.nav-active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

main {
  width: 80%;
  margin: auto;
  overflow-x: hidden;
}

#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url(images/pattern1.png) no-repeat 50% 50%;
  height: 58vh;
  margin-top: 18vh;
  min-height: 480px;
  position: relative;
}

#landing .landing-text-contact {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80%;
}

#landing .border-animate {
  position: relative;
  width: 30%;
  height: 60%;
}

#landing img {
  border: 3px solid #acb008;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  z-index: 2;
}

#landing #landing-anchor {
  position: absolute;
  top: -200px;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65vh;
  margin-top: 50vh;
  position: relative;
}

#about .about-background {
  position: absolute;
  height: 130%;
  width: 100%;
  background: url(images/pattern1.png) no-repeat 50% 50%;
  z-index: -24;
}

#about .about-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

#about .about-tech h2 {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  font-size: 35px;
  margin-top: 0;
  color: #4070f4;
}

#about .about-tech h2::after {
  content: '';
  border: 1px solid #ff3b7c;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

#about .about-tech .tech-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-tech .tech-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

#about .about-tech .tech-icons img {
  width: 32px;
  height: 32px;
}

#about .about-text {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

#about .about-text h4 {
  font-size: 2.4em;
  color: #ff8c05;
  letter-spacing: 2px;
}

#about .about-text p {
  font-size: 19px;
  line-height: normal;
  font-weight: lighter;
  letter-spacing: 2px;
}

#about #about-anchor {
  position: absolute;
  top: -200px;
}

.ml6 {
  position: relative;
  font-weight: 400;
  font-size: 2.7em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml5 {
  position: relative;
  font-weight: bold;
  font-size: 3em;
  color: #ffffff;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

.ml5 .letters:nth-child(3) {
  color: #ff8c05;
}

.landing-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.landing-social i {
  font-size: 1.5em;
  color: #ff8c05;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.landing-social i:hover {
  color: #4070f4;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.skills {
  height: 100vh;
}

.border-animate::before,
.border-animate::after {
  display: block;
  content: '';
  position: absolute;
  width: 102%;
  height: 102%;
  background: #ff8c05;
  border-radius: 50%;
  z-index: 1;
  -webkit-animation: 3s clockwise infinite;
          animation: 3s clockwise infinite;
  max-width: 400px;
  max-height: 400px;
  left: 2%;
  background: radial-gradient(circle, #a54f77 51%, #ff8c05 95%, #262626 99%);
}

.border-animate:after {
  background: #ff3b7c;
  background: radial-gradient(circle, #ff8c05 4%, #a54f77 85%, #262626 100%);
  -webkit-animation: 2s clockwise infinite;
          animation: 2s clockwise infinite;
}

#projects {
  margin-top: 50vh;
}

#projects .project-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .project-container .reveal {
  position: relative;
  color: #fff;
  font-size: 2.5em;
  padding: 0 10px;
  font-weight: 500;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#projects .project-container .reveal:nth-child(2) {
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 2px;
  display: inline-block;
}

#projects .project-container .active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#projects .project-container .reveal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e02bff;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

#projects .project-container .reveal:nth-child(2)::before {
  background: #f5e23b;
}

#projects .project-container .active:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#projects .project-container img {
  position: relative;
  left: -100px;
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  max-width: 500px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 80%;
}

#projects .project-container .image-active {
  left: 0;
  opacity: 1;
}

@-webkit-keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@-webkit-keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
/*# sourceMappingURL=styles.css.map */