@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$primary-color: #212121;
$first-color: #ff8c05;
$second-color: #ffffff;
// $third-color: #262626;
$fourth-color: #ff3b7c;
$fifth-color: #4070f4;
$col: #b3ff98;

body {
  background-color: $primary-color;
  color: $second-color;
  font-family: 'Poppins', sans-serif;
}
.main-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: $primary-color;
  box-shadow: 0px -7px 10px $second-color;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  z-index: 12122;
  .active {
    color: $first-color !important;
  }
  &--scrolled {
    height: 40px;
  }
  h4 {
    color: $first-color;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  li {
    list-style: none;
  }
  a {
    color: $second-color;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      color: $fourth-color;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
  div {
    width: 25px;
    height: 3px;
    background-color: $second-color;
    margin: 5px;
    transition: all 0.3s ease;
    transform-origin: 1px;
    .line1 {
      transform: rotate(0);
    }
    .line2 {
      transform: translateX(0);
    }
    .line3 {
      transform: rotate(0);
    }
  }
}
.toggle .line1 {
  transform: rotate(45deg);
}
.toggle .line2 {
  transform: translateX(100%);
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 878px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    // transition: transform 0.5s ease-in;
    border: 1px solid $second-color;
    z-index: 123123;
    li {
      opacity: 0;
    }
  }
  .burger {
    display: block;
  }

  #landing {
    .landing-text {
      text-align: center;
    }
    .border-animate {
      display: none;
    }
    .landing-social {
      margin: auto;
    }
  }

  #about {
    flex-direction: column;
    height: 100vh !important;

    .about-text {
      width: 80%;
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
      margin-bottom: 15%;
      h4 {
        font-size: 1.4em;
        text-align: center;
        margin: 0;
      }
      p {
        font-size: 14px !important;
      }
    }

    .about-tech {
      width: 100%;
      h2 {
        font-size: 13px;
      }
    }
    .tech-icons {
      img {
        width: 24px;
        height: 24px;
      }
      h4 {
        font-size: 12px;
      }
    }
  }

  #projects {
    .project-background {
      height: 80% !important;
    }
    .project-info {
      margin-top: 10%;
      flex-direction: column;
      align-items: initial !important;
    }
    a {
      width: 90% !important;
    }
    .project-text {
      width: 90% !important;
      p {
        font-size: 1.3em !important;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  #projects {
    .project-text {
      p {
        font-size: 0.8em !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
}

.nav-active {
  transform: translate(0%);
}
main {
  width: 80%;
  margin: auto;
  overflow-x: hidden;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(images/pattern1.png) no-repeat 50% 50%;
  height: 58vh;
  margin-top: 18vh;
  min-height: 480px;
  position: relative;

  .landing-text-contact {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }
  .border-animate {
    position: relative;
    width: 30%;
    height: 60%;
  }
  img {
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ff8c05;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    position: absolute;
  }
  #landing-anchor {
    position: absolute;
    top: -200px;
  }
}

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 65vh;
  margin-top: 50vh;
  position: relative;
  .about-background {
    position: absolute;
    height: 130%;
    width: 100%;
    background: url(images/pattern1.png) no-repeat 50% 50%;
    z-index: -24;
  }
  .about-tech {
    display: flex;
    flex-direction: column;
    flex: 0.4;

    h2 {
      text-align: center;
      position: relative;
      margin-bottom: 50px;
      font-size: 35px;
      margin-top: 0;
      color: $fifth-color;
    }
    h2::after {
      content: '';
      border: 1px solid $fourth-color;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
    }

    .tech-categories {
      display: flex;
    }
    .tech-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .about-text {
    flex: 0.4;
    h4 {
      font-size: 2.4em;
      color: $first-color;
      letter-spacing: 2px;
    }
    p {
      font-size: 19px;
      line-height: normal;
      font-weight: lighter;
      letter-spacing: 2px;
    }
  }
  #about-anchor {
    position: absolute;
    top: -200px;
  }
}

// Intro text animation
.ml6 {
  position: relative;
  font-weight: 400;
  font-size: 2.7em;
  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .letter {
    display: inline-block;
    line-height: 1em;
  }
}

// Front end developer animation
.ml5 {
  position: relative;
  font-weight: bold;
  font-size: 3em;
  color: $second-color;
  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  .letters {
    display: inline-block;
    opacity: 0;
  }
  .letters:nth-child(3) {
    color: rgb(255, 140, 5);
  }
}

.landing-social {
  display: flex;
  justify-content: space-between;
  width: 40%;
  i {
    font-size: 1.5em;
    color: $first-color;
    transition: transform 0.2s ease-in;
    &:hover {
      color: $fifth-color;
      transform: translateY(-5px);
    }
  }
}

#projects {
  margin-top: 50vh;

  h1 {
    font-size: 2.5em;
    text-align: center;
    color: $first-color;
  }

  .project-container {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .project-background {
      position: absolute;
      height: 50%;
      width: 100%;
      background: url(images/pattern1.png) no-repeat 50% 50%;
      z-index: -24;
    }

    .reveal {
      position: relative;
      color: #fff;
      font-size: 1.5em;
      padding: 0 10px;
      font-weight: 500;
      transform-origin: left;
      transform: scaleX(0);
      transition: 0.5s;
      transition-delay: 0.5s;
      margin-top: 0;
      margin-bottom: 8px;
      color: $second-color;
    }
    .reveal:nth-child(2) {
      font-weight: 300;
      font-size: 1em;
      letter-spacing: 2px;
      display: inline-block;
      color: $first-color;
    }
    .active {
      transform: scaleX(1);
      transition-delay: 0s;
    }
    .reveal::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $second-color;
      transform-origin: right;
      transition: 0.5s;
      transition-delay: 0;
    }
    .reveal:nth-child(2)::before {
      background: $first-color;
    }
    .active:before {
      transform: scaleX(0);
      transition-delay: 0.5s;
    }
    .project-info {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
      left: -100px;
      transition: 0.5s;
      margin-top: 0;
      .project-text {
        width: 50%;
        p {
          font-size: 1.2em;
          font-weight: lighter;
          letter-spacing: 1px;
          line-height: 25px;
          padding: 20px;
          flex: 0.5;
        }
        .pomodoro-react {
          color: $fifth-color;
          text-decoration: none;
          &:hover {
            color: $second-color;
          }
        }
      }
    }
    a {
      display: block;
      margin-left: 10px;
      margin-top: 20px;
      width: 50%;
      img {
        display: block;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 3px $second-color;
      }
    }
    .project-active {
      left: 0;
      opacity: 1;
    }
  }
}
